[Desktop Entry]
Name=Software
Name[ar]=البرمجيات
Name[ca]=Programari
Name[cs]=Software
Name[da]=Software
Name[de]=Software
Name[el]=Λογισμικό
Name[en_GB]=Software
Name[es]=Software
Name[fi]=Ohjelmistot
Name[gl]=Software
Name[he]=תכנה
Name[hu]=Szoftverek
Name[id]=Perangkat Lunak
Name[it]=Software
Name[ja]=ソフトウェア
Name[ko]=소프트웨어
Name[lv]=Programmatūra
Name[nb]=Programvare
Name[pa]=ਸਾਫਟਵੇਅਰ
Name[pl]=Oprogramowanie
Name[pt_BR]=Softwares
Name[ru]=Программное обеспечение
Name[sk]=Softvér
Name[sl]=Programska oprema
Name[sr]=Програм
Name[sr@latin]=Program
Name[th]=ซอฟต์แวร์
Name[uk]=Програми
Name[zh_CN]=添加/删除程序
Name[zh_HK]=軟件
Name[zh_TW]=軟體
Comment=Add, remove or update software on this computer
Comment[ar]=أضف أو احذف أو حدث البرمجيات على هذا الحاسوب
Comment[ca]=Afegeix, suprimeix o actualitza programari en aquest ordinador
Comment[cs]=Přidat, odebrat nebo aktualizovat software v tomto počítači
Comment[da]=Tilføj, fjern eller opdatér software på denne computer
Comment[de]=Software auf diesem Rechner hinzufügen, entfernen oder aktualisieren
Comment[el]=Προσθήκη, αφαίρεση ή ενημέρωση λογισμικού σε αυτόν τον υπολογιστή
Comment[en_GB]=Add, remove or update software on this computer
Comment[es]=Añadir, quitar o actualizar software en este equipo
Comment[fi]=Lisää, poista tai päivitä tietokoneen ohjelmistoja
Comment[gl]=Engadir, quitar ou anovar software neste computador
Comment[he]=הוספה, הסרה ועדכון של תוכנות במחשב זה
Comment[hu]=Szoftver hozzáadása, eltávolítása vagy frissítése ezen a számítógépen
Comment[id]=Tambah, hapus, atau mutakhirkan perangkat lunak pada komputer ini
Comment[it]=Aggiunge, rimuove o aggiorna software su questo computer
Comment[ja]=このコンピューターでソフトウェアの追加、削除、更新を行います
Comment[ko]=이 컴퓨터에 프로그램을 추가, 제거, 업데이트 합니다
Comment[lv]=Pievienot, izņemt vai atjaunināt programmatūru uz šī datora
Comment[nb]=Legg til eller fjern programvare på denne datamaskinen
Comment[pa]=ਇਹ ਕੰਪਿਊਟਰ ਉੱਤੇ ਸਾਫਟਵੇਅਰ ਸ਼ਾਮਿਲ ਕਰੋ, ਹਟਾਉ ਜਾਂ ਅੱਪਡੇਟ ਕਰੋ
Comment[pl]=Dodawanie, usuwanie i aktualizowanie oprogramowania na komputerze
Comment[pt_BR]=Adiciona, remove ou atualiza softwares neste computador
Comment[ru]=Установка, удаление и обновление программного обеспечения на компьютере
Comment[sk]=Pridáva, odstraňuje alebo aktualizuje softvér vo vašom počítači
Comment[sl]=Dodajanje, odstranjevanje in posodabljanje programske opreme.
Comment[sr]=Додајте, уклоните или доградите програме на овом рачунару
Comment[sr@latin]=Dodajte, uklonite ili dogradite programe na ovom računaru
Comment[th]=เพิ่ม ลบ หรือปรับรุ่นซอฟต์แวร์ในคอมพิวเตอร์นี้
Comment[uk]=Встановити, вилучити або оновити програмні засоби на комп'ютері
Comment[zh_CN]=添加、移除或更新计算机软件
Comment[zh_HK]=在這臺電腦上加入、移除，或更新軟件
Comment[zh_TW]=在這臺電腦上加入、移除，或更新軟體
Icon=gnome-software
Exec=jhbuild run /opt/gnome/bin/gnome-software
Terminal=false
Type=Application
Categories=GNOME;GTK;System;Settings;PackageManager;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-software
X-GNOME-Bugzilla-Component=gnome-software
DBusActivatable=true
